<section class="py-5">
    <h1 class="display-3">
        thank you
    </h1>
    <p class="lead">you ebook should be emailed to you within 1busineess day</p>
    <a href="/" class="btn btn-dark btn-lg">go back home</a>
</section>